@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Roboto:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: 350px;
    background: #c4c4c4;
    border-radius: 10px;
    padding: 50px 20px;
    text-align: center;
}
.logo-vgm{
               
        max-width:150px;
        max-height:75px;
        width: auto;
        height: auto;
        
    

}

h2{
    text-align: center;
    margin: 20px;
    color: rgb(0, 0, 0);
    font-size: 25px;
}

input{
    width: 100%;
    height: 46px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.input-field{
    position: relative;
    margin-bottom: 20px;
    
}

label{
    position: absolute;
    top:0;
    left: 0;
    color: rgb(0, 0, 0);
    transform: translateY(18px);
   
}

input:focus + label{
    transform: translateY(-14px) scale(.8);
    
}

input:focus{
    box-shadow: 0 1px 0 0;
    border-bottom: red
}

.botao{
    text-align: center;
}

button{
    background-color: #909292;
    padding: 15px 50px;
    border-radius: 20px;
    text-transform: uppercase;
    margin: 20px;
    cursor: pointer;
    transition: ease-in-out .25s;
    font-size: larger;
    font-weight: bold;
}

button:hover{
    background: red;
}


div a:hover{
    color:#1a1a1a;
}

input:not(:placeholder-shown){
    box-shadow: 0 1px 0 0 #1a1a1a;
    border-bottom: #1a1a1a 1px solid;
}

input:not(:placeholder-shown) + label{
    transform: translateY(-14px) scale(.8);
}

input::placeholder{
    color:transparent;
}